body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: khaki;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    margin-top: 50px;
    color: limegreen;
    font-family: cursive;
}
.container{
    background-color: lightcoral;
}
p{
    font-size: small;
}
span{
    color:red;
}
.table{
    background-color: mediumorchid;
}
.Display-table{
    text-align: center;
}