
.vl {
    border-left:  dashed rgb(144, 192, 219);
    height: vw;
    border-inline-start-width:medium;
    margin: 0 20px 0 20px;
  }
  p{
      text-align: center;
      color: skyblue;
  }
  .bg{
      background-color: rgb(63, 188, 238);
      color: white;
      font-weight: bold;
  }
  .container{
      display: flex;
      flex-direction: row;
      text-align: left;

  }
  h1,h2{
      color: darkblue;
      text-align: center;
  }
  .gold1{
    color: yellow;
     font-size:50px;
  }
  .item1{
      flex: 2;   
  }
  .cupcake{
      height: 200px;
      width: 70%;

  }
  table{
      margin: 20px;
      
  }
.flex-container{
    display: flex;
    flex-direction: row;
    margin: 0 -5px;

}
.item2{
    flex: 1;
    margin: 0 5px;
   
}
.item3{
    flex: 6;
    text-align: left;
    margin-left: 20px;  
    margin: 0 5px;
}
.left{
    text-align: left;
}
.size{
    font-size: small;
    font-weight: bold;
}
h4{
    color: skyblue;
}
